*{
    margin:5px;
    padding:0px;
    box-sizing:border-box;
    background-color:hotpink;
    
    
}

.text {
    display:flex;
    font-family:"Montserrat", sans-serif;
    align-items:stretch;
    justify-content:top;
    margin-top:200px;
    font-size: 45px;
    font-style: italic;
}
.text-me h2{
    font-size:75px;
    font-style: italic;

}
.text-me p{
    font-family: 'Times New Roman', Times, serif;
    font-size:60px;
    font-weight:bold;
    
    
}


nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    min-height:9vh;
    font-family:sans-serif;
    list-style:none;
}
.text h2{
    align-items: flex-end;
}

.nav-links{
    display:flex;
    justify-content:space-between;
    width:40%;

}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color:black;
    text-decoration:none;
    font-size:16px;
    padding:14px 16px;
    font-weight:bolder;
    letter-spacing: normal;
    position:sticky;
}

.nav-links a active{
    background-color:white
}

.nav-links a:hover{
    color:white;
}
main{
    margin:0px;
    padding:0px;
    justify-items: center;

}

.fa{
    display:bottom;
    justify-content:bottom;
    font-size:larger;
    margin-inline:100px;
    font-size:100px;
    bottom: 25px;
    text-decoration:none;


}

.fa:hover{
    opacity:0.7;
}

.fa-linkedin{
    background:#3B5998;
    color:white;
}

.fa-facebook{
    background:blue;
    color:white;
}

.fa-github{
    background:black;
    color:white;
}



.about{
    text-align:justify;
    font-weight: bold;
    font-size:large;
    display:block;
    margin:15px;
    color:black;
    text-decoration-line: none;
}

.submit{
   display:flex;
   margin: bottom 75px;
   justify-items:auto;
   color:white;

}

.name{
    display:flex;
    font-size: 50px;;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom:150px;
}

h3{
    position:center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    display:flex;
    height:450px;
    width:200;
    position:absolute;
    right:0px;
    bottom:0px
}

 h4{
  
    text-align:center;
    font-size:50px;
    display:block;
    float:bottom;
    bottom:50px;
    
    
}

.Investment{
    
    font-size: 20px;
    text-align:bottom;
    padding:10px;
    float:bottom;
  
    
}

form button{
    padding:15px;
    color:white;
    font-size:16px;
    outline:none;
    cursor:pointer;
    width:140px;
    margin:20px auto 0;
}